.template {
  display: none;
}

.course-info {
  display: none;
  position: relative;
}

.fall,
.spring {
  min-height: 100px;
}

.year {
  margin-top: 5px;
  border-top: 2px solid #EDEDED;
  position: relative;
}

.semester {
  height: inherit;
  padding: 0;
  border-right: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
}

.required-course {
  background-color: #E1F2F5;
}

.elective-course {
  background-color: #E0F2DA;
}

.highlight-error {
  background-color: #FFDBDB;
}

.prereq-error {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
}

.semester-error {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
}

.elective-error {
  color: #FF6969;
  font-size: 16px;
}

body {
  background-color: #4A4A4A;
  padding-top: 50px;
}

.container {
  background-color: #fff;
}

.header-years {
  color: #FFF;
  text-shadow: .15em .15em .15em #000;
  margin-bottom: 20px;
  background-image: url(http://static.panoramio.com/photos/large/208500.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
}

#required-courses {
  max-height: 400px;
  overflow: scroll;
}

.main-content {
  padding-bottom: 300px;
}

.hour {
  margin: 0;
  padding: 0;
}

.time-slot {
  padding: 0;
  margin: 0;
}

.time-slot ul {
  min-height: 50px;
  border: 1px solid #EDEDED;
  margin: 0;
}