.template {
  display: none;
}

.course-info {
  display: none;
  position: relative;
}

.fall,
.spring {
  min-height: 100px;
}

.year {
  border-top: 1px solid #EDEDED;
  position: relative;
}

.semester {
  height: inherit;
  border-left: 1px solid #EDEDED;
}

.required-course {
  background-color: #CCE9ED;
}

.elective-course {
  background-color: #D4EDCC;
}

.highlight-error {
  background-color: #FFBABA;
}

body {
  background-color: #4A4A4A;
}

.container {
  background-color: #fff;
}

.header {
  color: #FFF;
  text-shadow: .15em .15em .15em #000;
  margin-bottom: 20px;
  background-image: url(http://static.panoramio.com/photos/large/208500.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
}

#required-courses {
  max-height: 400px;
  overflow: scroll;
}

.prereq-error {
  display: none;
}